<div class="headline headline-md"><h2>Photo Stream</h2></div>
<ul class="list-unstyled blog-photos margin-bottom-30">
    <li><a href="#"><img class="hover-effect" alt="" src="img/5.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/6.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/8.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/10.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/11.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/1.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/2.jpg"></a></li>
    <li><a href="#"><img class="hover-effect" alt="" src="img/7.jpg"></a></li>
</ul>