<div class="blog margin-bottom-40">
    <div class="blog-title">
        <div class="title-block">
            <h2><a href="#post/view/{{id}}">{{title}}</a></h2>
        </div>
        <div class="action-block">
            <a href="#post/edit/{{id}}"><i class="fa fa-pencil"></i></a>
            <a href="#post/delete/{{id}}" class="js-delete-post"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> {{releaseDate}}</li>
            <li><i class="fa fa-pencil"></i> {{author}}</li>
            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
        </ul>
        <ul class="list-unstyled list-inline blog-tags">
            <li><i class="fa fa-tags"></i>{{#formatKeywords}}{{keywords}}{{/formatKeywords}}</li>
        </ul>
    </div>
    <div class="blog-img">
        <img class="img-responsive" src="{{image}}" alt="{{title}}">
    </div>
    <p class="text-justify">{{shortDescr}}</p>
    <p><a class="btn-u btn-u-small" href="#post/view/{{id}}"><i class="fa fa-plus-sign"></i> Read More</a></p>
</div>